/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 28, 2014, 8:14:36 PM
    Author     : Student
*/

.pls{
        background-image: url('../images/citypls.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.AboutMe{
	background-color: rgba(0,0,0,.8);
	margin-right: 150px;
	margin-left: 150px;
	margin-top: 50px;
        margin-bottom: 135px;
	height: 575px;
}
.ceball{
	text-align: center;
	font-size: 85px;
        padding-top: 10px;
        height:75px;
        margin:100px 100px 0px 410px;
        display: inline-block;
        color:#00cccc;
        font-family: 'Play', sans-serif;
}
.ceball1{
	text-align: center;
	font-size: 65px;
        padding-top: 5px;
        height:65px;
        margin:5px 100px 25px 415px;
        display: inline-block;
        color:#00cccc;
        font-family: 'Play', sans-serif;
}
.bar{
    height:2px;
    background-color: white;
    margin: 5px 250px 0px 250px;
}
.Jade{
	text-align:left;
        font-size: 27px;
        padding-top: 10px;
        height:65px;
        margin:10px 100px 25px 310px;
        display: inline-block;
        color:whitesmoke;
        font-family: 'Play', sans-serif;
}


#menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background: #111;
  border-radius: 5px;
  z-index: 200;
  &:after {
    position: absolute;
    content: "☰";
    font-size: 42px;
    color: #FFF;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  &:hover {
    opacity: .8;
  }
}

#menu-button.on {
  &:after {
    content: "x";
  }
}

#overlay {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  opacity: 0;
  background-color: rgba(0,0,0,0.4);
  bottom: 0;
  right: 0;
  left: 0;
}

#overlay.open {
  display: block;
}

#hamburger-menu {
  height: 0;
  width: 0;
  background: #111;
  position: fixed;
  top: 20px;
  left: 90px;
  z-index: 101;
  overflow: hidden;
  border-radius: 5px;

  nav {
    padding: 10px;
    z-index: 101;
    overflow-y: hidden;
    overflow-x: hidden;
    
    a {
      display: block;
      padding: 10px;
      height: 1em;
      color: #CCC;
      font-size: 1em;
      line-height: 1em;
      text-decoration: none;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        color: #FFF;
        background: rgba(255,255,255,0.02);
      }
    }
  }
}
